@charset "UTF-8";
/*partial filen er en underfil til style.scss. nødvendig, da compileren ellers opretter css.map og css fil*/
/*globale variabler*/
/*mixins er en måde at genbruge kode på. man tager et kodestykke, som bruges flere gange og samler det et sted*/
/*når @use bruges, bliver partial filen hentet ind som module*/
/*general styling*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /*variablen kaldes på inde fra partial filen*/
  background-color: #f0f0f0;
  /*nesting - indrykning af elementer, der har direkte relation til det øverste element (i denne situation er det body)*/
}
body p {
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  color: #333333;
}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto); /*ved brug af minmax sikrers en minimum str af grid elementer, og ved auto sikres, at boksen tilpasser sig efter indholdet*/
}

/*navigation*/
header {
  grid-column: 1/6; /*grid columns start og slut på en på en linje i stedet for to. så start på linje 1 og slut på linje 6*/
  background-color: #ffffff;
  border-bottom: 4px solid #388071;
}

nav {
  color: #333333;
  height: 4em;
  padding: 1em;
  /*lokale variabler - standard værdien, disse kan ændres i scss filen*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*den ene lokale mixin variabel er belvet ændret*/
}
nav img {
  width: 70px;
}
nav #bars {
  display: none;
}
nav ul {
  /*lokale variabler - standard værdien, disse kan ændres i scss filen*/
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav a {
  color: #333333;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover, nav .active {
  color: #388071;
}

/*banner section*/
.header-img {
  grid-column: 1/6;
  border-bottom: 4px solid #388071;
  background-image: url(../img-1/computer.jpg);
  background-repeat: no-repeat; /*billedet skal ikke gentage sig*/
  background-size: cover; /*contain: hele billedet synlig, cover: billedet fylder hele boksen*/
  background-position: center;
  height: 75vh;
  margin-bottom: 1em;
}
.header-img .banner-tekst {
  position: absolute;
  left: 5%;
  top: 30%;
}
.header-img h1 {
  font-size: 2.3vw;
}
.header-img p {
  font-size: 2vw;
}
.header-img a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
}
.header-img a:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}

/*forside styling*/
main {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main h2 {
  font-size: 30px;
  text-align: center;
  display: block;
}
main .cta-wrapper {
  grid-column: 1/7;
}
main .cta-wrapper .cta-bokse {
  display: flex;
  justify-content: space-around;
}

/*cta-bokse*/
.cta-1, .cta-2, .cta-3 {
  background-color: white;
  width: 20vw;
  padding: 2em;
  margin: 2em auto; /*auto centrerer*/
}
.cta-1 img, .cta-2 img, .cta-3 img {
  margin: 0 auto;
  width: 60%;
  display: block; /*margin virker ikke på inline-elementer (billeder, osv). inline-elementer fylder ikke den fulde bredde, der er tilgængelig, hvilket blok-elementer gør*/
}
.cta-1 p, .cta-2 p, .cta-3 p {
  margin-bottom: 2em;
}
.cta-1 a, .cta-2 a, .cta-3 a {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
.cta-1 a:hover, .cta-2 a:hover, .cta-3 a:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}

/*tekst billede sektion*/
.txt-img-section {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.tekst {
  grid-column: 1/5;
  background-color: #133833;
  padding: 2em 4em 4em 4em;
}
.tekst h2 {
  color: #f0f0f0;
  text-align: left;
}
.tekst p {
  color: #f0f0f0;
}
.tekst p:nth-of-type(4) {
  margin-bottom: 3em;
}
.tekst .secondary-btn {
  background-color: transparent;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
}
.tekst .secondary-btn:hover {
  background-color: white;
  color: #133833;
  transition: 0.3s ease-in-out;
}

.billede {
  grid-column: 5/8;
  background-image: url(../img-1/presentation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*kontakt formular*/
.kontakt-bg-img {
  grid-column: 1/7;
  background: linear-gradient(rgba(142, 142, 142, 0.8), rgba(142, 142, 142, 0.8)), url(../img-1/meeting.jpg);
  background-size: cover;
}

.kontaktform {
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1.3em;
  margin: 4em auto;
}
.kontaktform h2 {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 0.5em;
  text-align: left;
}
.kontaktform p {
  margin-left: 1em;
}

.section-form {
  display: flex;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  font-size: 15px;
  padding: 1em;
  border: 2px solid #133833;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.5em 1em 1em 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #333333;
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, select::placeholder, textarea::placeholder {
  color: #333333;
}

input[type=submit] {
  background-color: #388071;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  border: none;
  width: 100%;
  margin: 0 1em;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #133833;
  transition: 0.3s ease-in-out;
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*footer*/
footer:nth-of-type(1) {
  grid-column: 1/6;
  background-color: #0a1f1c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em 4em;
}
footer:nth-of-type(1) p, footer:nth-of-type(1) h3 {
  color: #ffffff;
  line-height: 0.5;
  font-style: normal;
}
footer:nth-of-type(1) h3 {
  font-size: 18px;
}
footer:nth-of-type(1) a {
  color: #ffffff;
  text-decoration: underline;
}
footer:nth-of-type(1) a:hover {
  color: #388071;
}
footer:nth-of-type(1) .logo-footer {
  width: 100px;
  height: auto;
}

.footer-left {
  grid-column: 1/2;
}

.footer-right {
  grid-column: 2/3;
  text-align: right;
  margin: auto 0;
}

footer:nth-of-type(2) {
  grid-column: 1/6;
  background-color: #133833;
  text-align: center;
}
footer:nth-of-type(2) p {
  color: #f0f0f0;
}

/*mobil og tablet*/
@media screen and (max-width: 900px) {
  header {
    display: inline;
  }
  nav {
    color: #388071;
  }
  nav #bars {
    display: flex;
    border: none;
    background: transparent;
    font-size: 2.3em;
    color: #388071;
    cursor: pointer;
  }
  nav ul {
    display: none;
    height: auto;
    border-top: 4px solid #388071;
    flex-direction: column;
  }
  nav ul li {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */