@use 'partial'; /*når @use bruges, bliver partial filen hentet ind som module*/

/*general styling*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    font-family: partial.$font; /*variablen kaldes på inde fra partial filen*/
    background-color: partial.$bg-color;

    /*nesting - indrykning af elementer, der har direkte relation til det øverste element (i denne situation er det body)*/
        p{
            font-size: 16px;
            color: partial.$text-color;
            line-height: 1.5;
        }

        h1, h2, h3, h4, h5, h6{
            font-weight: 600;
            color: partial.$text-color;
        }
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto); /*ved brug af minmax sikrers en minimum str af grid elementer, og ved auto sikres, at boksen tilpasser sig efter indholdet*/
}

/*navigation*/
header{
    grid-column: 1/6; /*grid columns start og slut på en på en linje i stedet for to. så start på linje 1 og slut på linje 6*/
    background-color: partial.$nav-color;
    border-bottom: 4px solid partial.$primary-color;
}

nav{
    color: partial.$text-color;
    height: 4em;
    padding: 1em;
    /*flexbox mixin incomming*/

        img{
            width: 70px;
        }

        #bars{
            display: none;
        }

        ul{
            /*flexbox mixin incoming*/
            list-style-type: none;
        }

        a{
            color: partial.$text-color;
            padding: 0.5em;
            margin: 0.5em;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;

            
        }

        a:hover{
            color: partial.$primary-color;
        }
}